<a href="https://colab.research.google.com/github/rowanna/Data-Analysis-with-Open-Source/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_5%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오픈소스 기반 데이터 분석 5강 - 데이터 저장

## 5-1 CSV 형식 저장

In [11]:
import pandas as pd

data = {
    'student_id': [101, 102, 103, 104, 105],
    'database_score': [85, 76, 92, 63, 88],
    'cloudcomputing_score': [78, 82, 95, 70, 84],
    'python_score': [92, 78, 85, 75, 91],
    'watch_rate': [0.95, 0.87, 0.99, 0.80, 0.93]
}
## DataFrame 생성
df = pd.DataFrame(data)

## CSV 형식 저장
df.to_csv('student_analysis.csv', encoding='utf-8', index=False)

## 5-2 JSON 형식 저장

In [10]:
### 라이브러리 임포트
import json
import pandas as pd

data = {
    "이름": "홍길동",
    "나이": 25,
    "거주지": "서울",
    "관심사": ["프로그래밍", "데이터 분석", "여행"]
}

## json.dump를 이용한 저장
with open('output.json', mode='w', encoding='utf-8') as f:
    json.dump(data, f, indent=4, ensure_ascii=False)


## DataFrame을 이용한 저장
df = pd.DataFrame(data)
df = pd.DataFrame(data)


df.to_json('output_df.json', orient='records', indent=4, force_ascii=False)

# column 형태로 출력하기.
# df.to_json('output_df.json', orient='columns', indent=4, force_ascii=False)

## 5-3 Pandas Dataframe 데이터 추출

In [18]:
import pandas as pd

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터학", "경영학", "농학", "교육학", "영어영문학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}
df = pd.DataFrame(data)


## DataFrame 인덱스 출력
print(df.index)

## DataFrame 컬럼 출력
print(df.columns)

## DataFrame 행 출력
print(df.values.tolist())


## DataFrame 값 출력
print(df.values.flatten())

RangeIndex(start=0, stop=5, step=1)
Index(['이름', '학년', '학점', '학과', '동아리'], dtype='object')
[['김철수', 1, 4.2, '컴퓨터학', '프로그래밍'], ['이영희', 2, 3.8, '경영학', '독서토론'], ['박민수', 3, 4.5, '농학', '로봇공학'], ['최지훈', 4, 3.9, '교육학', '봉사활동'], ['정소희', 2, 3.5, '영어영문학', '음악감상']]
['김철수' 1 4.2 '컴퓨터학' '프로그래밍' '이영희' 2 3.8 '경영학' '독서토론' '박민수' 3 4.5 '농학'
 '로봇공학' '최지훈' 4 3.9 '교육학' '봉사활동' '정소희' 2 3.5 '영어영문학' '음악감상']

## 5-4 DataFrame 생성 방법

In [25]:
import pandas as pd
import json

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터공학", "경영학", "전자공학", "의학", "심리학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}


## 딕셔너리, csv, json으로 부터 DataFrame 생성
df1 = pd.DataFrame.from_dict(data)
df2 = pd.read_csv('students.csv')
df3 = pd.read_json('students.json')





## 세가지 방법 결과 비교

# (shape : 행과 열의 갯수 튜플 반환)
print(df1.shape)
print(df2.shape)
print(df3.shape)

(5, 5)
(5, 5)
(5, 5)

## 5-5 DataFrame 저장 방법

In [35]:
import pandas as pd

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터공학", "경영학", "전자공학", "의학", "심리학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}

## Dataframe 생성
df = pd.DataFrame(data)


## CSV, JSON 형식으로 저장
df.to_csv('students1.csv')
df.to_json('students1.json')

## HTML 형식으로 저장
## 방법1
# df.to_html('students1.html')
## 방법2
html_table = df.to_html()
with open('student_scores.html', 'w') as f:
    f.write(html_table)

## 5-6 실습 시나리오

## 데이터 수집

In [34]:
import requests

url = "http://openapi.seoul.go.kr:8088/_____/json/energyUseDataSummaryInfo/1/5/2015"
api_key = '_____'


params = {
  'key': api_key,
  'type': 'json',
  'service': 'energyUseDataSummaryInfo',
  'start_index': 0,
  'end_index': 0,
  'year':2015,
  'mon': 1
}

## 데이터 수집
response = requests.get(url, params=params)

## 호출 성공/실패 출력
print(response.json())

{'energyUseDataSummaryInfo': {'list_total_count': 84, 'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'}, 'row': [{'YEAR': '2015', 'MON': '12', 'MM_TYPE': '학교', 'CNT': '4142', 'EUS': '129747032', 'EUS1': '142880159', 'EUS2': '138232678', 'ECO2_1': '-10809386.5', 'ECO2_2': '-4583179.876', 'GUS': '7146196', 'GUS1': '8370038', 'GUS2': '8426789', 'GCO2_1': '-1252217.5', 'GCO2_2': '-2804967.2', 'WUS': '2243488.6', 'WUS1': '2288624.2', 'WUS2': '2348669.6', 'WCO2_1': '-75158.3', 'WCO2_2': '-24952.5556', 'HUS': '1431', 'HUS1': '1946', 'HUS2': '1858', 'HCO2_1': '-471', 'HCO2_2': '-1875.522', 'REG_DATE': '2016-03-05 04:00:01.0'}, {'YEAR': '2015', 'MON': '12', 'MM_TYPE': '개인', 'CNT': '852483', 'EUS': '203388142', 'EUS1': '209110435', 'EUS2': '210601335', 'ECO2_1': '-6467743', 'ECO2_2': '-2742323.032', 'GUS': '40095231', 'GUS1': '44067763', 'GUS2': '47222920', 'GCO2_1': '-5550110.5', 'GCO2_2': '-12432247.52', 'WUS': '13904162.958', 'WUS1': '13901292.844', 'WUS2': '13985482.345', 'WCO2_1': '-39224.6365', 'WCO2_2': '-13022.579318', 'HUS': '21102616.717', 'HUS1': '26420971.573', 'HUS2': '24676994.275', 'HCO2_1': '-4446366.207', 'HCO2_2': '-59658969.202058', 'REG_DATE': '2016-03-05 04:00:01.0'}, {'YEAR': '2015', 'MON': '12', 'MM_TYPE': '소상공인', 'CNT': '13502', 'EUS': '45317360', 'EUS1': '47903086', 'EUS2': '47496110', 'ECO2_1': '-2382238', 'ECO2_2': '-1010068.912', 'GUS': '3587588', 'GUS1': '3976103', 'GUS2': '3978904', 'GCO2_1': '-389915.5', 'GCO2_2': '-873410.72', 'WUS': '1258473.65', 'WUS1': '1274858.8', 'WUS2': '1275190.8', 'WCO2_1': '-16551.15', 'WCO2_2': '-5494.9818', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2016-03-05 04:00:01.0'}, {'YEAR': '2015', 'MON': '12', 'MM_TYPE': '종교단체', 'CNT': '288', 'EUS': '3390717', 'EUS1': '3972522', 'EUS2': '3913755', 'ECO2_1': '-552421.5', 'ECO2_2': '-234226.716', 'GUS': '211045', 'GUS1': '234612', 'GUS2': '250167', 'GCO2_1': '-31344.5', 'GCO2_2': '-70211.68', 'WUS': '31990', 'WUS1': '30187', 'WUS2': '29228', 'WCO2_1': '2282.5', 'WCO2_2': '757.79', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2016-03-05 04:00:01.0'}, {'YEAR': '2015', 'MON': '12', 'MM_TYPE': '기업', 'CNT': '6661', 'EUS': '445894696', 'EUS1': '482299586', 'EUS2': '475775696', 'ECO2_1': '-33142945', 'ECO2_2': '-14052608.68', 'GUS': '17776013', 'GUS1': '20985549', 'GUS2': '21060548', 'GCO2_1': '-3247035.5', 'GCO2_2': '-7273359.52', 'WUS': '4058540.8', 'WUS1': '4108844.2', 'WUS2': '4089066.4', 'WCO2_1': '-40414.5', 'WCO2_2': '-13417.614', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2016-03-05 04:00:01.0'}]}}

## 데이터 프레임 생성

In [43]:
import pandas as pd

## requests로부터 response, body, item 항목 읽기
data = response.json()['energyUseDataSummaryInfo']['row']

# print(type(data))
# print(len(data))
# print(data[0])

df = pd.DataFrame(data)
print(df['ECO2_1']) # 특정 열만 추출

0    -10809386.5
1       -6467743
2       -2382238
3      -552421.5
4      -33142945
Name: ECO2_1, dtype: object

## 다양항 형식으로 데이터 저장

In [48]:
## CSV 형식 데이터 저장
df.to_csv('air_pollution.csv', index=False, encoding='utf-8')

## JSON 형식 데이터 저장
df.to_json('air_pollution.json', indent=4, force_ascii=False)

## EXCEL 형식 데이터 저장
df.to_excel('air_pollution.xlsx', index=False)

## HTML 형식 데이터 저장
df.to_html('air_pollution.html' )